* {
    box-sizing: border-box;
}

body .page {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, fr);
    grid-template-rows: repeat(3, 50px auto 75px);
    grid-template-areas: 
    "logo nav nav nav nav"
    "aside section section section section "
    "footer footer footer footer footer";
    /* color: white; */
}

header {
    grid-area: logo;
    /* background-color: white; */
    /* color: white; */
}

nav {
    position: sticky;
    top: 5px;
    grid-area: nav;
    background-color: white;
    /* color: white; */
}

nav .first {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    color: white;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;

}

section {
    grid-area: section;
    background-color: rgb(211, 154, 154);
    display: flex;
    flex-wrap: wrap;
        /* color: white; */
}

.one {
    background-color: rgb(221, 168, 197);
    color: black;
    font-weight: bold;
    font-size: 12.5px;
    height: 250px;
    width: 250px;
    display: inline-flex;
    margin: 10px auto;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px #8484a1 inset;
}
}

.one:hover {
    background-color: yellow;
    color: black;
    font-size: 10px;
    font-weight: bold;


}


h3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    grid-area: aside;
    background-color: rgb(209, 104, 109);
}

aside .second {
    list-style: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
}

::selection {
    background-color: yellow;
    color: black;
}

footer h3 {

}


@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    width: calc(50% - 10px);
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


